.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.so

# Dataset images (grandes demais para git)
dataset/images/
dataset/labels/
dataset/*.cache

# Modelos treinados (usar Git LFS ou hospedar separado)
models/
runs/

# Temporários
*.tmp
*.log
.DS_Store

# Ambiente
.env
*.pdf

# IDEs
.idea/

# YOLOv8 base weights (baixado automaticamente pelo ultralytics)
yolov8n.pt
yolov8s.pt
yolov8m.pt

# PyCharm sample
main.py
dataset_v2/
